* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#F3F3F3;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: #777777;
}

.logo {
    margin-left: 20px;
    display: inline-block;
}
.menu-name {
    text-decoration: none;
    display: inline-block;
    
}

.menu-name a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    justify-content: space-between;
    justify-items: center;
    font-size: 20px;
}

.search-cart {
    display: inline-block;
    justify-content: space-between;
}

.search-cart img {
    margin-right: 40px;
}

.hero {
    margin: 10px;
    margin-top: 40px;
    padding: 15px;
    background-color: #fff;
    display: flex;
}

.hero-text {
    margin: 20px;
    padding: 20px;
    width: 40%;
    display: inline-block;
    justify-items: center;
}

.hero-text h1 {
    font-size: 60px;
}

.hero-text h3 {
    font-size: 30px;
    font-weight: 400;
}

.hero-text p {
    font-size: 20px;
    font-weight: 400;
}

.cta {
    margin-top: 200px;
}

.cta-btn-1 {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 30px;
}

.cta-btn-2 {
    margin-left: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 30px;
}

.hero-photo {
    margin: 20px;
    display: inline-block;
    width: 60%;
}

.holo-products {
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.holo-phone {
    margin-right: 10px;
    padding: 40px;
    display: inline-block;
    background-color: #fff;
    width: 50%;
}

.holo-phone-desc {
    margin-bottom: 30px;
}

.holo-watch {
    margin-left: 10px;
    padding: 40px;
    display: inline-block;
    background-color: #fff;
    width: 50%;
}

.holo-watch-desc {
    margin-bottom: 30px;
}

.footer {
    margin-top: 50px;
    margin: auto;
    justify-content: center;
    width: 60%;
    color: #8B8B8B;
    font-size: 20px;
}


.footer-text-1 {
    margin-top: 20px;
}

.footer-text-2 {
    margin-top: 20px;
}

.footer-copyright-text {
    margin-top: 30px;
    margin-bottom: 30px;
}